
{%extends 'base.html'%}
{% load crispy_forms_tags %}
{%block content%}
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <!-- Material form subscription -->
      <div class="card">

        <h5 class="card-header info-color white-text text-center py-4">
          <strong>Login</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5">

          <!-- Form -->
          <form method="post" class="text-center" style="color: #757575;" action="#!" novalidate>

            {% csrf_token %}
            {{form|crispy}}
            <p><input class="btn btn-outline-success" type="submit" value="login"></p>

          </form>
          <!-- Form -->

        </div>

      </div>
      <!-- Material form subscription -->
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{%endblock%}
