<nav class="mb-1 navbar sticky-top navbar-expand-lg navbar-dark info-color">
  <a class="navbar-brand branding" href="{% url 'home' %}">Hoods</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">   
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item dropdown"> 
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> My Neighbourhood </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="#">My account</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
        </div>       
      </li>
      {%else%}
      <li class="nav-item">
        <a href="{% url 'signup' %}" class="nav-link">
          <i class="fas fa-user-plus"></i>  Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">
          <i class="fas fa-sign-in-alt"></i>  Log In</a>
      </li>
      
      {% endif %}
    </ul>
  </div>
</nav>